<div class="card-container">
  <div class="card rounded homescreen-card">
    <div class="card-title text-center card-title-label">Download your CSV file here!</div>
    <div class="card-body text-center center card-title-label">
      It contains order details!
      <br><br>
      <%= link_to "Download CSV", stores_download_csv_url(format: :csv), class:"btn btn-lg button  px-4" %>
      <br>
    </div>
  </div>
<div>
