<div class="card-container">
  <div class="card rounded homescreen-card">
    <div class="card-title text-center card-title-label">Shopify Store</div>
    <div class="card-body text-center center">
      <br><br>
      <%= link_to "Install App", stores_create_permission_url, class:"btn btn-lg button  px-4"%>
      <br>
    </div>
  </div>
<div>